<h1>スケジュール編集</h1>
<%= form_with model: @task, local: true, method: "patch" do |f| %>
<div class="form-group">
  <%= f.label :title %>
  <%= f.text_field :title, class: "form-control", id: "task_title" %>
</div>
<div class="form-group">
  <%= f.label :start %>
  <%= f.datetime_field :start, class: "form-control", id: "task_start" %>
</div>
<div class="form-group">
  <%= f.label :end %>
  <%= f.datetime_field :end, class: "form-control", id: "task_end" %>
</div>
<div class="form-group">
  <%= f.label :allday %>
  <%= f.check_box :allday, class: "form-control", id: "task_allday" %>
</div>
<div class="form-group">
  <%= f.label :memo %>
  <%= f.text_area :memo, row: 5, class: "form-control", id: "task_memo" %>
</div
<%= link_to "戻る", tasks_path, class: "btn btn-secondary" %>
<%= f.submit"更新", class: "btn btn-primary" %>
<% end %>